@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.login{
    padding: 20px;
    height: 100vh;
    width: 100vw;
}
.login-main-div{
    width: 100%;
    height: 100%;
    background-image: url('/image/login_back.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
    /* background-position: center; */
}
.login-logo-img{
 position: absolute;
 top: 0;
 left: 0;
}
.login-left-div{
    font-size: 60px;
    font-weight: bold;
}

.login-left-div span:first-child{
    color: transparent;
    -webkit-text-stroke: 2px #fff;
   
}

.welcome-header{
    color: rgb(105, 191, 112);
    /* -webkit-text-stroke: 2px #fff; */
   
}
.login-main-content{
    display: flex;
    column-gap: 200px;
    align-items: center;
}

.login-right-div{
    padding: 30px 20px;
    border: 2px solid rgb(105, 191, 112);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.70);
}
.right-div-header{
    color: white;
}
.right-div-header span:first-child{
    font-size: 20px;
    font-weight: bold;
}

.right-div-header span:last-child{
    font-size: 13px;
    font-weight: normal;
}

.login-input-div{
    margin-top: 30px;
}
label{
    color: #fff;
    font-size: 12px;
    padding-left: 10px;
}

.email-div input, .password-div input{
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    color: #fff;
    padding-top: 10px;
}


::placeholder {
    color: white;
    font-size: 12px;
    padding-left: 10px;
    position: relative;
    top: -10px;
  }

.password-div{
    margin-top: 20px;
}

.remember-forgot-div{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}
.forgot-password{
    color: rgb(105, 191, 112);
    font-size: 12px;
}

.remember-me-text{
    font-size: 14px;
}

.remember-me-input-div{
    display: flex;
    align-items: center;
}

.submit-button-div{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    border-radius: 4px;
background: linear-gradient(180deg, #3EB075 0%, #69BF70 100%);
    
}
.submit-button-div button{
    color: white;
    font-size: 15px;
    width: 100%;
}

.submit-button-div button:hover{
    color: white;
}
.register-div{
    margin-top: 15px;
    font-size: 12px;
    display: flex;
    justify-content: center;
}
.register-div span:first-child{
 color: white;
 margin-right: 5px;
}

.register-div span:last-child{
    color: rgb(105, 191, 112);
    margin-right: 5px;
}
.text-danger{
    font-size: 10px !important;
}
    
